.content{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.greeting{
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 35px;
}