body{
    margin: 0;
}
.nav{
    background-color: #bdb4ae;
    padding: 25px;
    margin: 0;
    font-family: 'Sintony', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.nav a{
    font-size: 22px;
    justify-self: center;
    color: white;
    text-decoration: none;
}
.nav a:hover{
    color: black;
    cursor: pointer;
}