.orders{
    display: table;
    margin: 20px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}
.orders th{
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid black;
    width: 230px;
    color: #4e4e4f;
}
.orders td{
    display: table-cell;
    text-align: center;
    padding: 3px;
    padding-top: 20px;
    font-size: 12px;
    border-bottom: 0.5px solid black;
}
.util{
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}
.no-results{
    font-size: 20px;
    margin: 20px;
    color: red;
    text-decoration-line: underline;
    text-align: center;
}