.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 400px;
}
h1{
    size: 30px;
    padding: 15px;
    margin: 10px;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    color: #4e4e4f;
    grid-column: 1/2;
    grid-row: 1;
}
form{
    margin: 10px;
    padding: 15px;
    grid-column: 1;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    grid-column: 1;
    grid-row: 2;
}
.shop-item{
    grid-column: 2;
    grid-row: 2;
}
.shop-item img{
    width: 200px;
    height: 150px;
    margin-left: 190px;
}
.shop-item .item-description{
    margin-top: 40px;
    margin-right: 40px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border: 1px dotted black;
    
}
.take-care{
    font-size: 25px;
    font-weight: bolder;
}
.input{
    display: grid;
    grid-template-columns: 150px 150px;
    margin: 6px;
}
.title{
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 15px;
    margin-top: 25px;
}
.label{
    font-size: 15px;
    font-weight: normal;
    grid-column: 1;
    height: 25px;
    justify-self: center;
}
.user-input{
    grid-column: 2;
    height: 25px;
}
button{
    margin-left: 234px;
}
.data-error{
    color: red;
    font-size: 25px;
    text-decoration-line: underline;
    text-decoration-color: red;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
}
.success{
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
}