.pagination{
    list-style-type: none;
    margin: 20px;
    display: inline;
}
form{
    display: inline;
}
.page-item{
    display: inline;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    background-color: #bdb4ae;
    border: 1px solid #4e4e4f;
}
.page-item a{
    text-decoration: none;
    color: white;
}
.page-item a:hover{
    color: black;
}
.page-count{
    display: inline;
    margin: 20px;
}
select{
    background-color: #bdb4ae;
    border: 1px solid #4e4e4f;
    padding: 7px 10px 6px 10px;
    font-size: 14px;
    color: white;
    width: 180px;
    cursor: pointer;
}
.sort{
    display: inline;
    margin: 20px;
}
.search{
    display: inline;
    margin: 20px;
    font-size: 14px;
    padding: 7px 10px 6px 10px;
}
.search button{
    background-color: #bdb4ae;
    color: white;
    border: 1px solid #4e4e4f;
    padding: 2px;
}